
.about_section h3 {
    font-size: 40px;
    margin: 5px 0 25px 0;
    font-weight: 600;
}

.about_section h4 {
    color: #4fcaff;
    font-size: 18px;
    margin: 0;
}


@media (max-width: 767px) {

    .layout_padding {
        padding: 50px 0;
    }
}